<!doctype html>
<html>

<head>
  <title>Angular Application</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

</head>

<body ng-app="myApp" ng-cloak>
  <div ng-controller="NotesListController as notesList">
    <p ng-if="notesList.notes.length == 0">
      <span>Notes list is empty.</span>
    </p>

    <p ng-if="notesList.notes.length">
      Notes list:
    </p>

    <div>
      <md-card ng-repeat="note in notesList.notes track by $index">
        <md-card-header>
          <md-card-header-text ng-click="notesList.deleteNote($index)" class="md-title">
            {{ note }}
          </md-card-header-text>
        </md-card-header>
      </md-card>
    </div>

    <form ng-submit="notesList.addNote()">
      <md-input-container>
        <label>Note text</label>
        <input type="text" ng-model="notesList.noteText" />
      </md-input-container>

      <md-button type="submit" class="md-raised md-accent" ng-disabled="notesList.noteText.length === 0">
        add note
      </md-button>
      <md-button ng-click="notesList.deleteAll()" class="md-raised md-warn" ng-disabled="notesList.notes.length === 0">
        delete all notes
      </md-button>
    </form>
  </div>

  <script>
    var myApp = angular.module('myApp', ['ngMaterial']);

    myApp.controller('NotesListController', function() {
      var notesList = this;

      notesList.noteText = '';
      notesList.notes = [];

      notesList.addNote = function() {
        notesList.notes.push(notesList.noteText);
        notesList.noteText = '';
      }

      notesList.deleteNote = function($index) {
        notesList.notes.splice($index, 1);
      }

      notesList.deleteAll = function() {
        notesList.notes = [];
      }
    })
  </script>

</body>

</html>
