<!doctype html>
<html ng-app="myApp">

<head>
  <title>Angular Application</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
</head>

<body>
  <div ng-controller="NotesListController as notesList">
    <div ng-if="notesList.notes.length == 0">
      <span>Notes list is empty.</span>
    </div>

    <ul>
      <li ng-repeat="note in notesList.notes track by $index">
        <span ng-click="notesList.deleteNote($index)">
          {{ note }}
        </span>
      </li>
    </ul>

    <form ng-submit="notesList.addNote()">
      <input type="text" ng-model="notesList.noteText">
      <input type="submit" value="add note">
    </form>
  </div>

  <script>
    var myApp = angular.module('myApp', []);

    myApp.controller('NotesListController', function() {
      var notesList = this;

      notesList.noteText = '';
      notesList.notes = [];

      notesList.addNote = function() {
        notesList.notes.push(notesList.noteText);
        notesList.noteText = '';
        console.log(notesList.notes);
      }

      notesList.deleteNote = function($index) {
        notesList.notes.splice($index, 1);
      }
    })
  </script>

</body>

</html>
